<div class="permissions">
  <header class="permissions-header">
    <h1 class="permissions-header__title">Permissions</h1>
    <nav class="permissions-header__tabs">
      <button
        [class.permissions-header__tab--active]="viewMode === 'groups'"
        class="permissions-header__tab"
        (click)="switchView('groups')"
      >
        Groups
      </button>
      <button
        [class.permissions-header__tab--active]="viewMode === 'roles'"
        class="permissions-header__tab"
        (click)="switchView('roles')"
      >
        Roles
      </button>
    </nav>
  </header>

  <div class="permissions__divider"></div>

  <div
    *ngIf="viewMode === 'groups'"
    class="permissions-content"
  >
    <aside class="permissions-content__sidebar">
      <app-group-list
        (groupSelected)="onGroupSelected($event)"
      ></app-group-list>
    </aside>

    <main class="permissions-content__main">
      <app-role-list
        *ngIf="selectedGroup"
        [group]="selectedGroup"
      ></app-role-list>
    </main>
  </div>

  <div
    *ngIf="viewMode === 'roles'"
    class="permissions-content"
  >
    <main class="permissions-content__main">
      <app-role-list></app-role-list>
    </main>
  </div>
</div>
